{% extends 'base.html' %}

{% load static i18n %}

{% block html_attribute %}{% endblock html_attribute %}

{% block title %}{% endblock title %}

{% block extra_css %}{% endblock extra_css %}

{% block body_attribute %}data-menu-color="light" data-sidebar="default"{% endblock body_attribute %}

{% block content %}

<div id="app-layout">

        {% include 'partials/topbar.html' %}
        {% include 'partials/sidebar.html' %}

        <div class="content-page">
            <div class="content">
            <div class="container-fluid">
                {% block page_content %}{% endblock page_content %}
            </div>
            </div>
            {% include 'partials/footer.html' %}
        </div>
    </div>

    {% block modal %}{% endblock modal %}

{% endblock content %}

{% block extra_javascript %}{% endblock extra_javascript %}